this is an about page.
<div class='row'>

  <div class='col s3'>
    <div class="card medium">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="circle activator" src="images/angularjs-google-logo.png">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Angular<i class="material-icons right">more_vert</i></span>
        <p><a href="https://angularjs.org/">Angular Docs</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Angular<i class="material-icons right">close</i></span>
        <p>Angular is used to allow a reliable implementation of a socket.io module,
          as well as to allow downstream flexibility with implementing new types of language
          battle games. </p>
      </div>
    </div>
  </div>

  <div class='col s3'>
    <div class="card medium">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="circle activator" src="images/SOCKETIOICON.gif">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Socket.io<i class="material-icons right">more_vert</i></span>
        <p><a href="http://socket.io/">Socket.io docs</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Socket.io<i class="material-icons right">close</i></span>
        <p>Socket.io allows for a straightforward implementation of the concept
          of "users" and "rooms" for language battles, without having to
          implemented authentication or logins. It also allows realtime player interaction.</p>
      </div>
    </div>
  </div>

  <div class='col s3'>
    <div class="card medium">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="circle activator" src="images/expressjs.png">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Express<i class="material-icons right">more_vert</i></span>
        <p><a href="http://expressjs.com/">Express docs</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Express<i class="material-icons right">close</i></span>
        <p>Express makes for a tried and true javascript backend that allows a great
          deal of modularity for serverside route handling and controllers. It
          integrates well with Socket.io.</p>
      </div>
    </div>
  </div>

  <div class='col s3'>
    <div class="card medium">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="circle activator" src="images/jasminelogo.png">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Jasmine<i class="material-icons right">more_vert</i></span>
        <p><a href="http://jasmine.github.io/">Jasmine docs</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Jasmine<i class="material-icons right">close</i></span>
        <p>Jasmine with Karma is the standard test setup for Angular apps. It
          is used here to allow for fast iterations upon designs without doing full
          manual user tests. </p>
      </div>
    </div>
  </div>
  
</div>
