<div class='row section'>

  <div class='section z-depth-2 row'>
    <div class='row col s12'>
      <div class='col s4 left-align'><h4>&nbsp;{{native}}...</h4></div>
      <div class='col s4 center-align'><h5>speaker studying</h5> </div>
      <div class='col s4 right-align'><h4>...{{foreign}}&nbsp;</h4></div>
    </div>

    <div class='row col 12'>
      <div class='col s6'>
        <div class='col s12 m6 l3'>
          <button class="colwaves-effect waves-light btn" ng-click='setNative("english")'>English</button>
        </div>
        <div class='col s12 m6 l3'>
          <button class="colwaves-effect waves-light btn" ng-click='setNative("spanish")'>Spanish</button>
        </div>
        <div class='col s12 m6 l3'>
          <button class="colwaves-effect waves-light btn" ng-click='setNative("french")'>French</button>
        </div>
        <div class='col s12 m6 l3'>
          <button class="colwaves-effect waves-light btn" ng-click='setNative("chinese")'>Chinese</button>
        </div>
      </div>
      <div class='col s6'>
        <div class='col s12 m6 l3'>
          <button class="colwaves-effect waves-light btn" ng-click='setForeign("english")'>English</button>
        </div>
        <div class='col s12 m6 l3'>
          <button class="colwaves-effect waves-light btn" ng-click='setForeign("spanish")'>Spanish</button>
        </div>
        <div class='col s12 m6 l3'>
          <button class="colwaves-effect waves-light btn" ng-click='setForeign("french")'>French</button>
        </div>
        <div class='col s12 m6 l3'>
          <button class="colwaves-effect waves-light btn" ng-click='setForeign("chinese")'>Chinese</button>
        </div>
      </div>
    </div>


  </div>

  <ul class='collection with-header z-depth-2'>
    <li class='collection-header'><h4>Game Modes</h4></li>
    <li class='collection-item'>
      <div >Multiplayer Time Trial
        <div class='secondary-content'>
          <button
            class="colwaves-effect waves-light btn modal-trigger "
            ng-click='joinBattle("timeTrial")'>
              Find Opponent!
          </button>
        </div>
      </div>
    </li>
    <li class='collection-item'>
      <div>Multiplayer Best of Ten
        <div class='secondary-content'>
          <button
            class="colwaves-effect waves-light btn modal-trigger "
            ng-click='joinBattle("accuracy")'>
              Find Opponent!
          </button>
        </div>
      </div>
    </li>
  </ul>
  <battle-directive></battle-directive>




</div>
