<div class='row section'>
  <div>
    <h3>Welcome to LangBattle!</h3>
    <p>LangBattle is an arena where you can test your language-learning skills
      against other players, in real-time. <p>
    <p>Currently the only battle-mode available is a two-player time-trial for
      Chinese learners that are native English speakers. Check back often, as
      new languages, game modes, and functionality is added regularly!</p>
      <p>To get started, click <a href='/#/arena'>here</a> to go to the arena,
         or click the arena button above. Make sure to have a friend ready to play
         as well!</p>
  </div>
</div>
