<div class='row section' ng-controller='arenaController'>

  <div class='col s12 m4'> &nbsp;</div>
  <div class='col s12 m4'>
    <button class="colwaves-effect waves-light btn modal-trigger " ng-click='joinBattle()'>Find Opponent!</button>
  </div>


  <div id="battleView" class="modal" ng-controller='battleController'>
     <div class="modal-content">
       <div class='row'>
         <h4 class='col s9'>{{battleStatus}}</h4>
         <div class='col s3'>
           <button
            class='waves-effect waves-light btn right red'
            ng-click='exitBattle()'>
              X
          </button>
        </div>
       </div>
       <p><h5 class='center-align'>{{currCard.english}}</h5></p>
       <div class='row'>
         <div class='col s1 m2'>&nbsp;</div>
       <button
        ng-hide='!battleStarted'
        class='waves-effect waves-light btn-flat col s1 m2'
        ng-click='submitCard(currCard.english, currCard.choiceArray[0])'>
        {{currCard.choiceArray[0]}}
      </button>
      <button
       ng-hide='!battleStarted'
       class='waves-effect waves-light btn-flat col s1 m2'
       ng-click='submitCard(currCard.english, currCard.choiceArray[1])'>
       {{currCard.choiceArray[1]}}
     </button>
     <button
      ng-hide='!battleStarted'
      class='waves-effect waves-light btn-flat col s1 m2'
      ng-click='submitCard(currCard.english, currCard.choiceArray[2])'>
      {{currCard.choiceArray[2]}}
    </button>
    <button
     ng-hide='!battleStarted'
     class='waves-effect waves-light btn-flat col s1 m2'
     ng-click='submitCard(currCard.english, currCard.choiceArray[3])'>
     {{currCard.choiceArray[3]}}
   </button>
   <div class='col s1 m2'>&nbsp;</div>
  </div>
     </div>

     <div class="modal-footer">
       {{gameMessage}}
      <button
       ng-hide='battleStarted'
       class='waves-effect waves-light btn'
       ng-click='getFirstCard()'>
       Start Battle!
     </button>

     </div>
   </div>

</div>
