This is the home view.

{{title}}

<div class='row' ng-controller='arenaController'>
  <input type='text' ng-model='chat'>
  <button class='waves-effect waves-light btn' ng-click='submitChat()'>Click</button>

  <button class="waves-effect waves-light btn modal-trigger" ng-click='showModal()'>Show Modal Angular</button>



  <div id="modal1" class="modal" ng-controller='battleController'>
     <div class="modal-content">
       <h4>Modal Header</h4>
       <p>{{currCard}}</p>
     </div>
     <div class="modal-footer">
       <button class='waves-effect waves-light btn' ng-click='showCards()'>Show Card</button>
       <button ng-click='closeModal()'>Close</button>
     </div>
   </div>

</div>
